$color-eyebleeding-pink: #e61c98;

// Elements
$color-background-widget-header: #444444;
$color-background-widget-overlay: #000000;
$color-color-ui-button: $color-eyebleeding-pink; //#eeeeee
$color-border-ui-button: $color-eyebleeding-pink; //#eeeeee
$color-background-ui-button: #000000; //#eeeeee
