#storyAuthor {
  visibility: hidden;
}

#sidebar {
  width: 15%;
  color: #ffffff;
  overflow: hidden;
  position: absolute;
  left: 170px;
  padding: 10px;
  z-index: 5;
  /* Fixes an issue with frosted glass on chrome making sidebar look partially transparent. (Because Chrome's clip-path is fucked.) */
}

#sidebar #title, #sidebar #title:hover, #sidebar #title a {
  color: #999;
  height: 170px;
}

#sidebar #storyMenu {
  color: #ffffff;
  text-decoration: none;
}

#sidebar li a {
  color: #ff4fcf;
}

#sidebar #credits:hover {
  color: #ffffff;
}

#sidebar #credits {
  color: #ffffff;
}

#storyMenu {
  color: #ffffff;
}

a:link {
  color: #ff4fcf;
  text-decoration: none;
}

a:visited {
  color: #f449ff;
  text-decoration: none;
}

a:hover {
  color: #ff2f91;
  text-decoration: none !important;
}

a:active {
  color: #5aeaff;
  text-decoration: none;
}

/* Disable transitions, hopefully. */

.transition-in {
  opacity: 100;
  position: absolute;
}

.passage:not(.transition-out) {
  transition: 0.1s;
  -webkit-transition: 0.1s;
}

.transition-out {
  opacity: 100;
  position: absolute;
}

.passage a {
  font-weight: normal !important;
}

.passage center {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

center {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* frosty */

.passage::before {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  content: ' ';
  filter: url('#blur');
  filter: blur(5px);
  opacity: 0.6;
  /*https://stackoverflow.com/questions/14068103/disable-antialising-when-scaling-images*/
  image-rendering: optimizeSpeed;
  /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;
  /* Firefox                        */
  image-rendering: -o-crisp-edges;
  /* Opera                          */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome (and eventually Safari) */
  image-rendering: pixelated;
  /* Chrome */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+                           */
}

/*Background By Zone */

body {
  background-attachment: fixed;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  /*https://stackoverflow.com/questions/14068103/disable-antialising-when-scaling-images*/
  image-rendering: optimizeSpeed;
  /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;
  /* Firefox                        */
  image-rendering: -o-crisp-edges;
  /* Opera                          */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome (and eventually Safari) */
  image-rendering: pixelated;
  /* Chrome */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+                           */
}

body[data-tags~="blackscreen"] {
  background-color: #000000;
}

body[data-tags~="splash"] {
  background-image: [img[bg_title]];
}

body[data-tags~="splash"] .passage::before {
  background-image: [img[bg_title]] !important;
}

body[data-tags~="digitalscreen"] {
  background-image: [img[bg_blank]];
}

body[data-tags~="digitalscreen"] .passage::before {
  background-image: [img[bg_blank]] !important;
}

body[data-tags~="missingno"] {
  background-image: [img[bg_glitch]];
}

body[data-tags~="missingno"] .passage::before {
  background-image: [img[bg_glitch]] !important;
}

body[data-tags~="forest"] {
  background-image: [img[bg_forest]];
}

body[data-tags~="forest"] .passage::before {
  background-image: [img[bg_forest]] !important;
}

body[data-tags~="forestpm"] {
  background-image: [img[bg_forest-pm]];
}

body[data-tags~="forestpm"] .passage::before {
  background-image: [img[bg_forest-pm]] !important;
}

body[data-tags~="fields"] {
  background-image: [img[bg_meadow]];
}

body[data-tags~="fields"] .passage::before {
  background-image: [img[bg_meadow]] !important;
}

body[data-tags~="fieldspm"] {
  background-image: [img[bg_meadow-pm]];
}

body[data-tags~="fieldspm"] .passage::before {
  background-image: [img[bg_meadow-pm]] !important;
}

body[data-tags~="hills"] {
  background-image: [img[bg_hills]];
}

body[data-tags~="hills"] .passage::before {
  background-image: [img[bg_hills]] !important;
}

body[data-tags~="hillspm"] {
  background-image: [img[bg_hills-pm]];
}

body[data-tags~="hillspm"] .passage::before {
  background-image: [img[bg_hills-pm]] !important;
}

body[data-tags~="beach"] {
  background-image: [img[bg_beach]];
}

body[data-tags~="beach"] .passage::before {
  background-image: [img[bg_beach]] !important;
}

body[data-tags~="beachpm"] {
  background-image: [img[bg_beach-pm]];
}

body[data-tags~="beachpm"] .passage::before {
  background-image: [img[bg_beach-pm]] !important;
}

body[data-tags~="deadwood"] {
  background-image: [img[bg_deadwood]];
}

body[data-tags~="deadwood"] .passage::before {
  background-image: [img[bg_deadwood]] !important;
}

body[data-tags~="deadwoodpm"] {
  background-image: [img[bg_deadwood-pm]];
}

body[data-tags~="deadwoodpm"] .passage::before {
  background-image: [img[bg_deadwood-pm]] !important;
}

body[data-tags~="jungle"] {
  background-image: [img[bg_jungle]];
}

body[data-tags~="jungle"] .passage::before {
  background-image: [img[bg_jungle]] !important;
}

body[data-tags~="junglepm"] {
  background-image: [img[bg_jungle-pm]];
}

body[data-tags~="junglepm"] .passage::before {
  background-image: [img[bg_jungle-pm]] !important;
}

body[data-tags~="ocean"] {
  background-image: [img[bg_ocean]];
}

body[data-tags~="ocean"] .passage::before {
  background-image: [img[bg_ocean]] !important;
}

body[data-tags~="oceanpm"] {
  background-image: [img[bg_ocean-pm]];
}

body[data-tags~="oceanpm"] .passage::before {
  background-image: [img[bg_ocean-pm]] !important;
}

body[data-tags~="coldmountain"] {
  background-image: [img[bg_coldmountain]];
}

body[data-tags~="coldmountain"] .passage::before {
  background-image: [img[bg_coldmountain]] !important;
}

body[data-tags~="coldmountainpm"] {
  background-image: [img[bg_coldmountain-pm]];
}

body[data-tags~="coldmountainpm"] .passage::before {
  background-image: [img[bg_coldmountain-pm]] !important;
}

body[data-tags~="crystalforest"] {
  background-image: [img[bg_crystalforest]];
}

body[data-tags~="crystalforest"] .passage::before {
  background-image: [img[bg_crystalforest]] !important;
}

body[data-tags~="crystalforestpm"] {
  background-image: [img[bg_crystalforest-pm]];
}

body[data-tags~="crystalforestpm"] .passage::before {
  background-image: [img[bg_crystalforest-pm]] !important;
}

body[data-tags~="ruins"] {
  background-image: [img[bg_ruins]];
}

body[data-tags~="ruins"] .passage::before {
  background-image: [img[bg_ruins]] !important;
}

body[data-tags~="ruinspm"] {
  background-image: [img[bg_ruins-pm]];
}

body[data-tags~="ruinspm"] .passage::before {
  background-image: [img[bg_ruins-pm]] !important;
}

body[data-tags~="snowforest"] {
  background-image: [img[bg_snowforest]];
}

body[data-tags~="snowforest"] .passage::before {
  background-image: [img[bg_snowforest]] !important;
}

body[data-tags~="snowforestpm"] {
  background-image: [img[bg_snowforest-pm]];
}

body[data-tags~="snowforestpm"] .passage::before {
  background-image: [img[bg_snowforest-pm]] !important;
}

body[data-tags~="mountain"] {
  background-image: [img[bg_mountain]];
}

body[data-tags~="mountain"] .passage::before {
  background-image: [img[bg_mountain]] !important;
}

body[data-tags~="mountainpm"] {
  background-image: [img[bg_mountain-pm]];
}

body[data-tags~="mountainpm"] .passage::before {
  background-image: [img[bg_mountain-pm]] !important;
}

body[data-tags~="freshwater"] {
  background-image: [img[bg_freshwater]];
}

body[data-tags~="freshwater"] .passage::before {
  background-image: [img[bg_freshwater]] !important;
}

body[data-tags~="freshwaterpm"] {
  background-image: [img[bg_freshwater-pm]];
}

body[data-tags~="freshwaterpm"] .passage::before {
  background-image: [img[bg_freshwater-pm]] !important;
}

body[data-tags~="harddesert"] {
  background-image: [img[bg_desert]];
}

body[data-tags~="harddesert"] .passage::before {
  background-image: [img[bg_desert]] !important;
}

body[data-tags~="harddesertpm"] {
  background-image: [img[bg_desert-pm]];
}

body[data-tags~="harddesertpm"] .passage::before {
  background-image: [img[bg_desert-pm]] !important;
}

body[data-tags~="sands"] {
  background-image: [img[bg_sands]];
}

body[data-tags~="sands"] .passage::before {
  background-image: [img[bg_sands]] !important;
}

body[data-tags~="sandspm"] {
  background-image: [img[bg_sands-pm]];
}

body[data-tags~="sandspm"] .passage::before {
  background-image: [img[bg_sands-pm]] !important;
}

body[data-tags~="moundshop"] {
  background-image: [img[bg_moundshop]];
}

body[data-tags~="moundshop"] .passage::before {
  background-image: [img[bg_moundshop]] !important;
}

body[data-tags~="hypofarm"] {
  background-image: [img[bg_bovieterie]];
}

body[data-tags~="hypofarm"] .passage::before {
  background-image: [img[bg_bovieterie]] !important;
}

body[data-tags~="abandonedmound"] {
  background-image: [img[bg_abandoned]];
}

body[data-tags~="abandonedmound"] .passage::before {
  background-image: [img[bg_abandoned]] !important;
}

body[data-tags~="abitte"] {
  background-image: [img[bg_abitte]];
}

body[data-tags~="abitte"] .passage::before {
  background-image: [img[bg_abitte]] !important;
}

body[data-tags~="cave"] {
  background-image: [img[bg_cave]];
}

body[data-tags~="cave"] .passage::before {
  background-image: [img[bg_cave]] !important;
}

body[data-tags~="firecave"] {
  background-image: [img[bg_firecave]];
}

body[data-tags~="firecave"] .passage::before {
  background-image: [img[bg_firecave]] !important;
}

body[data-tags~="icecave"] {
  background-image: [img[bg_icecave]];
}

body[data-tags~="icecave"] .passage::before {
  background-image: [img[bg_icecave]] !important;
}

body[data-tags~="crystalcave"] {
  background-image: [img[bg_crystalcave]];
}

body[data-tags~="crystalcave"] .passage::before {
  background-image: [img[bg_crystalcave]] !important;
}

body[data-tags~="deepcave"] {
  background-image: [img[bg_deepcave]];
}

body[data-tags~="deepcave"] .passage::before {
  background-image: [img[bg_deepcave]] !important;
}

body[data-tags~="wetcave"] {
  background-image: [img[bg_wetcave]];
}

body[data-tags~="wetcave"] .passage::before {
  background-image: [img[bg_wetcave]] !important;
}

body[data-tags~="magmacave"] {
  background-image: [img[bg_magmacave]];
}

body[data-tags~="magmacave"] .passage::before {
  background-image: [img[bg_magmacave]] !important;
}

body[data-tags~="magmacore"] {
  background-image: [img[bg_magmacore]];
}

body[data-tags~="magmacore"] .passage::before {
  background-image: [img[bg_magmacore]] !important;
}

.passage {
  width: 50%;
  position: absolute;
  left: 300px;
  color: #ffffff;
  background: #000;
  padding: 15px;
  /* Fixes #23 (also see ALL.coffee) */
  clip-path: polygon(0% 0%, 0% 99%, 100% 99%, 100% 0%);
  -webkit-clip-path: polygon(0% 0%, 0% 99%, 100% 99%, 100% 0%);
  /* Goddammit chrome. */
}

/*Text Formatting */

hr {
  border: 0;
  color: #fff;
  background-color: #fff;
  height: 1px;
}

mini, .mini {
  font-family: "Arial";
  font-size: 10px;
}

xtramini, .xtramini {
  font-family: "Arial";
  font-size: 9px;
}

large, .large {
  font-family: "Arial";
  font-size: 12px;
}

xtralarge, .xtralarge {
  font-family: "Arial";
  font-size: 13px;
}

huge, .huge {
  font-family: "Arial";
  font-size: 14px;
}

xtrahuge, .xtrahuge {
  font-family: "Arial";
  font-size: 16px;
}

/*Colors */

alert, .alert {
  font-family: "Arial";
  font-size: 9px;
  color: #f2daab;
  padding: 0;
}

.affirmative, affirmative {
  color: #a2e878;
}

deathspeak, .deathspeak {
  color: #666699;
  text-shadow: 0 0 3px #666699;
  font-family: 'Garamond', 'Times New Roman', serif;
  font-size: larger;
}

cheery, .cheery {
  color: #a3e7e8;
}

softalert, .softalert {
  color: #f5b999;
}

brightalert, .brightalert {
  color: #fcc43c;
}

deepalert, .deepalert {
  color: #f88243;
}

redalert, .redalert {
  color: #ff2d5e;
}

redalert:link, .redalert:link {
  color: #ff2d5e;
  text-decoration: none;
}

mirometer, .mirometer {
  color: #ff9dd4;
}

mutation, .mutation {
  color: #ff3ac5;
}

rare, .rare {
  color: #d189fe;
}

warning, .warning {
  color: #f9cd81;
}

seriouswarning, .seriouswarning {
  color: #ff894f;
}

criticalwarning, .criticalwarning {
  color: #ff574f;
}

rain, .rain {
  color: #9bcedb;
}

hypo, .hypo {
  color: #c6c8cc;
}

bleak, .bleak {
  color: #9d9bb0;
}

deep, .deep {
  color: #0072bc;
}

phoe, .phoe {
  color: #8f4eb5;
}

nuclear, .nuclear {
  color: #c4e41a;
}

/*Frames & Banners*/

frame {
  border: 1px solid #ffffff;
}

banner {
  border: 1px solid #fff;
  color: #000;
  background-color: #cee3f0;
  height: 5px;
}

plainbanner {
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
  height: 5px;
}

battlebanner {
  border: 1px solid #000;
  color: #fdd089;
  background-color: #000;
  height: 5px;
}

brightbanner {
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  height: 5px;
}

agebanner {
  border: 1px solid #fff;
  color: #000;
  background-color: #d6ffc0;
  height: 5px;
}

mirobanner {
  border: 1px solid #fff;
  color: #ff9dd4;
  background-color: #000;
  height: 5px;
}

depthbanner {
  border: 1px solid #fff;
  color: #41d9e2;
  background-color: #000;
  height: 5px;
}

geigerbanner {
  border: 1px solid #fff;
  color: #f1ff12;
  background-color: #000;
  height: 5px;
}

alertbanner {
  border: 1px solid #fff;
  color: #000;
  background-color: #f5bb98;
  height: 5px;
}

framed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 1em;
  border: 1px solid white;
  background-color: #000;
  font-family: "Arial";
  font-size: 10px;
}

wideframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding: 1em;
  border: 1px solid white;
  background-color: #000;
  font-family: "Arial";
  font-size: 10px;
}

wideframe2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding: 1em;
  background-color: #000;
  font-family: "Arial";
  font-size: 10px;
}

invisiframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 1em;
}

framedalert {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 1px solid white;
  background-color: #000;
  align-content: center;
  font-family: "Arial";
  font-size: 9px;
}

miraframed {
  display: inline-block;
  background-color: #000;
  padding: 2px 5px 3px;
  margin: 2px;
  color: #e61c98;
  border: 1px solid #e61c98;
  line-height: 1;
  font-family: "Arial";
  font-size: 12px;
  text-decoration: none;
}

unframe {
  display: inline-block;
  background-color: #000;
  padding: 2px 5px 3px;
  margin: 2px;
  color: #666;
  border: 1px solid #333;
  line-height: 1;
  font-family: "Arial";
  font-size: 12px;
  text-decoration: none;
}

framedaccent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 1em;
  border: 1px solid white;
  background-color: #111;
  align-content: center;
  font-family: "Arial";
  font-size: 10px;
}

midframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 2px;
  margin: 5px;
  border: 1px solid white;
  background-color: #000;
  align-content: center;
  font-family: "Arial";
  font-size: 10px;
}

narrowframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 2px;
  margin: 5px;
  border: 1px solid white;
  background-color: #000;
  align-content: center;
  font-family: "Arial";
  font-size: 10px;
}

tightframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 2px;
  border: 1px solid white;
  background-color: #000;
  align-content: center;
  font-family: "Arial";
  font-size: 10px;
}

invisiframen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: 60%;
  padding: 1em;
}

/* Hidden */

invisible {
  visibility: hidden;
}

/* Buttons */

button.internalButton, a.fakeButton {
  display: inline-block;
  background-color: #000;
  padding: 2px 5px 3px;
  margin: 2px;
  color: #e61c98;
  border: 1px solid #e61c98;
  line-height: 1;
  font-family: "Arial";
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

a.fakeButton {
  font-weight: normal;
  color: #e61c98;
}

.inventory tr, .inventory td, .inventory th, .inventory caption {
  padding: 0;
}

.prettytable tr:nth-child(even), .inventory tr:nth-child(even), .memories tr:nth-child(even) {
  background: #111;
}

.prettytable tr:nth-child(odd), .inventory tr:nth-child(odd), .memories tr:nth-child(odd) {
  background: #000;
}

.ui-accordion-header {
  border-bottom: 1px dotted #e61c98;
}

.ui-accordion-header .ui-icon {
  display: none;
}

.ui-accordion-header:before {
  content: "\25BA";
  color: #e61c98;
  display: inline-block;
  margin-right: 0.25em;
  transition: transform 0.2s linear;
}

.ui-accordion-header-active:before {
  transform: rotate(90deg);
  transition: transform 0.2s linear;
}

.memories .ui-icon {
  border: 1px solid transparent;
  transition: all 0.5s linear;
}

.memories .ui-icon:HOVER {
  border-color: #e61c98;
  transition: all 0.5s linear;
  border-radius: 50%;
}

span.error {
  color: red;
}

span.warning {
  color: orange;
}

span.success {
  color: #ff0000;
}

tr.highlighted {
  background-color: hsl(323, 80%, 15%);
  border-left: 5px solid hsl(323, 80%, 30%);
}

groupbox {
  border: 1px solid #333;
  width: 100%;
  display: block;
  margin: 1em;
}

groupbox legend {
  display: inline-block;
  position: relative;
  top: -12px;
  left: 5px;
  padding: 3px;
  height: 15px;
  line-height: 15px;
  background: #000;
}

#passageOptions {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 1);
  width: 100%;
}

#passageOptions fieldset {
  margin: auto;
}

.sidebar-pip {
  border: 1px solid #333;
  border-radius: 5px;
  line-height: 20px;
  width: 75%;
  text-align: left;
  margin: 0.25em;
}

.sidebar-pip .head {
  font-weight: bold;
  display: inline-block;
  font-variant-caps: all-petite-caps;
  padding-right: 0.5em;
  padding-left: 0.5em;
  text-align: right;
  background: #333;
}

.sidebar-pip .head img {
  vertical-align: middle;
}

.sidebar-pip .value {
  padding: 0px 0.25em;
}

/*
.sidebar-pip.mutator .head {
  padding-left: calc(0.5em + 16px);
  background-image: [img[biohazard_16px]];
  background-position: left center;
  background-repeat: no-repeat;
}*/

.stat-warn {
  border: 1px solid #f60;
  color: #f60;
  box-shadow: inset 0px 0px 3px #f60;
}

.stat-warn .head {
  background: #f60;
  color: black;
  border: none;
  border-right: 1px solid #f60;
}

.stat-bad {
  color: red;
  border: 1px solid red;
  animation: red_blink alternate .5s infinite;
  box-shadow: inset 0px 0px 3px #f00;
}

.stat-bad .head {
  background: red;
  color: black;
}

.stat-very-bad {
  color: red;
  border: 1px solid red;
  animation: bright_red_blink forwards 0.25s infinite;
  box-shadow: inset 0px 0px 3px #f00;
}

.stat-very-bad .head {
  background: red;
  color: black;
}

@keyframes red_blink {
  from {
    background: #600;
  }
  to {
    background: #000;
  }
}

@keyframes bright_red_blink {
  0% {
    background: #f00;
  }
  100% {
    background: #000;
  }
}

fieldset {
  border: 1px solid #666;
}

span.bodypart {
  padding: 2px;
  line-height: initial !important;
  border: 1px solid #111;
  border-radius: 5px;
  display: inline-block;
}

span.bodypart.mutated {
  color: #e61c98;
  border: 1px solid #e61c98;
}

div.legal {
  font-size: xx-small;
  text-align: center;
  opacity: 0.5;
}

div.legal a {
  color: #e61c98 !important;
}

span.iconwrap {
  margin: 0px 3px;
}

li.ui-tabs-tab {
  background: #000 linear-gradient(to bottom, #333 0%, #000 100%);
  border: 1px solid #333;
}

ul.ui-tabs-nav {
  background: transparent;
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 0;
}

.genelist span.gene {
  display: inline-block;
  line-height: 100%;
  padding: 3px;
  border-radius: 3px;
}

.genelist span.gene.disabled {
  background: #333 !important;
  color: #ccc;
  font-weight: normal;
  transition: 0.2s;
}

.genelist span.gene.good {
  background: #060;
}

.genelist span.gene.disabled.good:HOVER {
  box-shadow: inset 0px 0px 5px #060;
}

.genelist span.gene.mutation {
  background: #c0c;
}

.genelist span.gene.disabled.mutation:HOVER {
  box-shadow: inset 0px 0px 5px #c0c;
}

.genelist span.gene.afflictive {
  background: #ca0;
}

.genelist span.gene.disabled.afflictive:HOVER {
  box-shadow: inset 0px 0px 5px #ca0;
}

.genelist span.gene.dangerous {
  background: #f60;
}

.genelist span.gene.disabled.dangerous:HOVER {
  box-shadow: inset 0px 0px 5px #f60;
}

.genelist span.gene.lethal {
  background: #f00;
}

.genelist span.gene.disabled.lethal:HOVER {
  box-shadow: inset 0px 0px 5px #f00;
}

#adminpanel>div>div {
  margin: 1em;
  padding: 1em;
  border: 1px solid #333;
}

#dialog-options groupbox {
  width: 755px;
}

#dialog-options table {
  margin: auto;
  width: 100%;
}

#dialog-options tr th:nth-of-type(1) {
  text-align: left;
  width: 200px;
}

#dialog-options tr td:nth-of-type(2) {
  text-align: center;
  width: 80px;
}

#dialog-options tr td:nth-of-type(3) {
  text-align: center;
  width: 80px;
}

.minmax-symbols {
  font-size: 200%;
}

button:disabled {
  opacity: 0.5;
  border: 1px solid #333;
  color: #333
}

#trade-panel {
  display: flex;
  background: black;
  flex-direction: row;
}

.trade-pane {
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 1em 0px;
}

.trade-pane>fieldset {
  height: inherit;
  overflow-y: auto;
}

.trade-pane#player-pane, .trade-pane#trader-pane {
  width: 37%;
}

.trade-pane#trading-controls-pane {
  width: 25%;
}

.trade-pane div.header {
  height: 200px;
}

#player-consiee {}

#prepend-to-buttonpane {
  display: inline-block;
  padding: .5em .4em .5em 0;
}

.consiee {
  text-shadow: 0px 0px 5px;
}

.consiee.loss {
  color: #ff6666;
}

.consiee.gain {
  color: #66ff66;
}

.amount-offered {
  color: #66ff66;
}

.prettytable tr.offered:nth-child(even) {
  background: #030 !important;
}

.prettytable tr.offered:nth-child(odd) {
  background: #020 !important;
}

#passageTravelingTrader {
  width: 100%;
}

.billeporte-world {
  display: block;
  border: 1px solid #333;
  background: #111;
  box-shadow: inset 0 0 1em #000;
}

.billeporte-world .header {
  background: #333;
  display: flex;
}

.billeporte-world .name {
  font-weight: bold;
  font-size: x-large;
  text-shadow: 1px 1px 2px #000;
  width: calc(100% - 200px);
}

.billeporte-world .planetid {
  font-variant: small-caps;
  color: #666;
  width: 100px;
  text-align: left;
  padding: 3px;
}

.billeporte-world .header .notes {
  color: #cfc;
  font-size: small;
  z-index: 5;
  width: 100px;
}

.ui-progressbar {
  position: relative;
  z-index: 1;
  border: none !important;
  padding: 1px;
  border-radius: 3px;
  background: linear-gradient(to bottom, #5a0a3bff 0%, #720d4b 100%) !important;
}

.ui-progressbar-value {
  position: relative;
  border-radius: 3px;
  z-index: 5;
  border: 1px solid #720d4b;
  /*e61c98 b41575 720d4b*/
  background: linear-gradient(to bottom, #ffffff11 0%, #000000aa 100%), repeating-linear-gradient(-45deg, #b41575ff 1px, #b41575ff 10px, #720d4bff 11px, #720d4bff 20px);
}

div.machine-amphours-label {
  color: #fff;
  font-weight: bold;
  z-index: 10;
  display: block;
  width: 100%;
  text-align: center;
  background: none !important;
  position: absolute;
  -webkit-text-stroke: 1px solid black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.devtools {
  border: 1px solid #660000;
  font-size: xx-small;
  padding: 0.25em;
  color: #600;
  text-align: center;
}

.devtools a {
  color: #900;
}

.devtools a:BEFORE {
  content: '<<';
  color: #600;
}

.devtools a:AFTER {
  content: '>>';
  color: #600;
}

.devtools button {
  border: 1px solid black;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(50, 50, 50, 0.5) 50%, rgba(200, 200, 200, 0.5) 51%, rgba(50, 50, 50, 0.5) 100%), repeating-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0px, rgba(255, 255, 255, 1) 10px, rgba(255, 0, 0, 1) 10px, rgba(255, 0, 0, 1) 20px);
  padding: 0.25em;
  font-family: helvetica;
  border-radius: 5px;
  box-shadow: inset 0 0 12px #000;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000;
  transition: 0.2s;
}

.devtools button:HOVER {
  box-shadow: inset 0 0 13px #f60 !important;
  border: 1px solid #333;
  transition: 0.2s;
}

#mocha {
  max-height: 100vh;
  overflow-y: scroll;
}

div.compass {
  background: radial-gradient(circle at center, #fff 0%, #aaa 100%);
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 200px;
  position: relative;
  transform: rotate(0deg);
  width: 200px;
  height: 200px;
}

div.compass>div {
  position: absolute;
  width: 200px;
  height: 200px;
  pointer-events: none;
}

div.compass span.dir-label {
  font-weight: bold;
  color: #333;
  display: block;
  pointer-events: all;
}

div.compass a {
  pointer-events: all;
  display: block;
  color: #600;
}

div.compass a:hover {
  color: red;
}

div.compass .north .dir-label {
  color: #900;
}

div.compass .east {
  transform: rotate(90deg);
}

div.compass .south {
  transform: rotate(180deg);
}

div.compass .south .internalLink {
  display: block;
  transform: rotate(180deg);
}

div.compass .west {
  transform: rotate(270deg);
}

/* url('projects/hacked/src/svg/ui/radio/radio-checked.svg') */

div>input[type="radio"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
}

div>input[type="radio"]+label {
  height: 19px;
  padding: 3px 3px 3px calc(19px + 0.5em);
  background: [img[radio-template]] 3px 3px no-repeat;
  border-radius: 3px;
  width: 75%;
}

div>input[type="radio"].error+label {
  background-image: [img[radio-error]];
  color: red;
  opacity: 0.6;
}

div>input[type="radio"].locked+label {
  background-image: [img[radio-locked]];
  color: #ccc;
  opacity: 0.6;
}

div>input[type="radio"]:checked+label {
  background-image: [img[radio-checked]] !important;
  color: #cfc !important;
  animation: fill-green forwards 0.2s ease-in;
}

@keyframes fill-green {
  0% {
    background-color: #000;
  }
  100% {
    background-color: #030;
  }
}

.playergen-column {
  width: 50%;
  margin: 0;
}

.playergen-header {
  border-bottom: 1px solid #666;
}

body[data-tags~="nosidebar"] #sidebar {
  display: none !important;
}

body[data-tags~="widebody"] .passage {
  width: 100%;
  left: 0px;
}

.playergen-frame {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
}

.playergen-frame .playergen-header {
  width: 75%;
  align-self: middle;
}

.playergen-frame h1 {
  text-align: center;
  font-variant-caps: all-small-caps;
  font-size: xx-large;
  letter-spacing: 0.5em;
}

.locked .lockmsg {
  border: 1px solid #333;
  font-size: x-small;
  font-family: sans-serif;
  font-variant-caps: all-small-caps;
  margin: 0 1em;
  padding: 1px;
  border-radius: 3px;
  color: #333;
}

#speciesinfo {
  text-align: center;
}

#speciesinfo h2 {
  font-variant-caps: all-petite-caps;
  font-weight: bold;
  font-size: x-large;
  padding: 0.25em;
}

.playergen-buttons button, .playergen-buttons unframe {
  padding: 5px !important;
  height: 42px;
  margin: 1em;
  padding: 0 1em !important;
}

.playergen-buttons {
  display: flex;
  flex: row center middle;
  border-top: 1px solid #666;
  width: 75%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.playergen-buttons span.quickplay button, .playergen-buttons span.quickplay unframe {
  font-size: large;
  margin: 1em;
}

span#quickplay button {
  font-weight: bold;
}

svg#newgame-breadcrumbs {
  width: 500px;
  height: 50px;
  display: block;
  margin: auto;
}

svg#newgame-breadcrumbs .checkmark, svg#newgame-breadcrumbs .error path {
  stroke: #fff;
  fill: none;
  display: none;
}

svg#newgame-breadcrumbs .error.errored path {
  display: inline;
  stroke-dasharray: none;
  stroke-opacity: 1 transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: check 1s cubic-bezier(0.650, 0.000, 0.450, 1.000) 0.8s forwards;
}

svg#newgame-breadcrumbs .orbpath.errored {
  fill: #f00;
  stroke-width: 0.3;
  transition: 0.2s;
}

svg#newgame-breadcrumbs .checkmark.completed {
  display: inline;
  stroke-dasharray: none;
  stroke-opacity: 1 transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: check 1s cubic-bezier(0.650, 0.000, 0.450, 1.000) 0.8s forwards;
}

@keyframes check {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fade_out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

svg#newgame-breadcrumbs .orbpath {
  fill: #333;
}

svg#newgame-breadcrumbs .orbpath.current {
  fill: #730E4C;
}

svg#newgame-breadcrumbs .orbpath.completed {
  fill: rgb(230, 28, 152);
}

div.playergen-content {
  text-align: center;
  margin: auto;
  width: 75%;
}

div.playergen-content div.formrow {
  padding: 1em;
}

option[disabled] {
  display: none;
}

input[type=text]:not(.ui-spinner-input) {
  background: #000;
  border: none;
  border-bottom: 1px solid #E61C98;
  color: #E61C98;
  padding: 2px;
  font-family: monospace;
}

div#passagePlayerGenSelectGender div.formrow label {
  font-weight: bold;
  text-align: right;
  display: inline-block;
  width: 200px;
}

.required {
  border: 1px solid #c00;
  color: #c00;
  border-radius: 2px;
  padding: 1px;
  font-size: 6pt;
}

:required::after {
  content: 'REQUIRED' border: 1px solid #c00;
  color: #c00;
  border-radius: 2px;
  padding: 1px;
  font-size: 6pt;
}

input[type=text]:disabled {
  border-color: #666;
  color: #666;
  transition: 0.2s;
}

button.internalButton:disabled {
  border-color: #666;
  color: #666;
}

.pronoun-preset {
  font-family: serif;
  font-size: larger;
}

.playergen-buttons unframe {
  display: inline-block;
  line-height: 42px;
  text-align: center;
}

:invalid {
  border: 1px solid red;
}

select:invalid {
  color: #666;
}

input[type=text]:invalid {
  color: red;
  box-shadow: none;
  border-color: red;
}

div.checkrow {
  padding: 0 !important;
  text-align: left;
}

label.\34 ce-feature::after {
  content: '4CE';
  font-size: 70%;
  color: #0cf;
  border: 1px solid #0cf;
  border-radius: 3px;
  padding: 1px;
  margin-left: 0.25em;
}


range {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  align-self: middle;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #e61c98;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 2px solid #000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #e61c98;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 2px solid #000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #e61c98;
  cursor: pointer;
}

/***********
 * TRACK
 ***********/
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-bottom: 1px dotted #333;#e61c98;
  border-left: 2px solid #666;
  border-right: 2px solid #666;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-bottom: 1px dotted #333;#e61c98;
  border-left: 2px solid #666;
  border-right: 2px solid #666;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-bottom: 1px dotted #333;#e61c98;
  border-left: 2px solid #666;
  border-right: 2px solid #666;
}
input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0;
  border-bottom: 1px dotted #333;#e61c98;
  border-left: 2px solid #666;
  border-right: 2px solid #666;
}
input[type=range]:focus::-ms-fill-lower {
  background: transparent;
}
input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0;
  border-bottom: 1px dotted #333;#e61c98;
  border-left: 2px solid #666;
  border-right: 2px solid #666;
}
input[type=range]:focus::-ms-fill-upper {
  background: transparent;
}
